.heading{
    h2{
        text-align: center;
        color: var(--bs-body-color)!important;
    }

    p{
        text-align: center;
        color: #869ab8;
        font-size: 20px;
    }
}

@media (min-width: 345px) and (max-width: 575px){

    .heading{
        position: relative;
        left: 160px;
        top: 20px;
    }
}