.row{

    margin-left: 70px;

.box1{
   @include boxes;

   i{
    @include icon;

   }

   h4{
    position: relative;
    left: 10px;
   }

   p{
    position: relative;
    left: 10px;
    color: #869ab8!important;
   }

}


.box2{
    @include boxes;
 
    i{
     @include icon;
 
    }
 
    h4{
     position: relative;
     left: 10px;
    }
 
    p{
     position: relative;
     left: 10px;
     color: #869ab8!important;
    }
 
 }

 
.box3{
    @include boxes;
 
    i{
     @include icon;
 
    }
 
    h4{
     position: relative;
     left: 10px;
    }
 
    p{
     position: relative;
     left: 10px;
     color: #869ab8!important;
    }
 
 }

}


@media (min-width: 375px) and (max-width: 667px){

      .row{
         .box1{
            position: relative;
            right: 67px;
            h4{
               font-size: 20px;
            }
         }

         .box2{
            position: relative;
            right: 67px;

            h4{
               font-size: 20px;
            }
         }

         .box3{
            position: relative;
            right: 67px;

            h4{
               font-size: 20px;
            }
         }
      }
   }
    