body{
    overflow-x: hidden;
}


@import "mobilefriendly varriable.scss";

@import "mobile freindly maxin.scss";
@import "first secstion.scss";

@import "scstion2.scss";

@import "navbar.scss";

@import "card.scss";

@import "secstion4";

@import "heading";
@import "footer";

@import "corosel";

@media (max-width:560px){
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}